<!DOCTYPE html>
<html>
   <body>

      <h3>NFL Query Database</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "team">Team</label><br>
         <select name = "team" id = "team">
             <option value = "Philadelphia">Philadelphia</option>
             <option value = "Dallas">Dallas</option>
             <option value = "NYGiants">NYGiants</option>
             <option value = "Washington">Washington</option>
             <option value = "Pittsburgh">Pittsburgh</option>
         </select></br>
         <label for = "isFav">Favourite or Underdog</label><br>
         <select name = "isFav" id = "isFav">
             <option value = "Favourite">Favourite</option>
             <option value = "Underdog">Underdog</option>
         </select></br>
         <label for = "isGreater">By more/less then</label><br>
         <select name = "isGreater" id = "isGreater">
             <option value = "more">By More then</option>
             <option value = "less">By Less then</option>
         </select></br>
         <label for = "">Points</label><br>
         <input type = "number" name = "points" placeholder = "0" /><br>
         <input type = "submit" value = "Query" />
      </form>

      <table>
          <thead>
              <tr>
                  <th>Date</th>
                  <th>V/H</th>
                  <th>Team</th>
                  <th>1st Q</th>
                  <th>2nd Q</th>
                  <th>3rd Q</th>
                  <th>4th Q</th>
                  <th>Final Score</th>
                  <th>Open</th>
                  <th>Close</th>
                  <th>ML</th>
              </tr>
          </thead>
      <tbody>
          {% for game in games %}
          <tr align = "center">
            <td>{{game.date}}</td>
            <td>{{game.vh}}</td>
            <td>{{game.team}}</td>
            <td>{{game.first}}</td>
            <td>{{game.second}}</td>
            <td>{{game.third}}</td>
            <td>{{game.fourth}}</td>
            <td>{{game.final}}</td>
            <td>{{game.open}}</td>
            <td>{{game.close}}</td>
            <td>{{game.ml}}</td>
          </tr>
          {% endfor %}
      </tbody>
      </table>

   </body>
</html>
