<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask
            SQLAlchemy example</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Students (<a href = "{{ url_for('new') }}">Add Student
         </a>)</h3>

      <table>
         <thead>
            <tr>
               <th>Team</th>
               <th>Score</th>
               <th>Open</th>
               <th>Close</th>
            </tr>
         </thead>

         <tbody>
            {% for game in nfl2020 %}
               <tr>
                  <td>{{ game.team }}</td>
                  <td>{{ game.final }}</td>
                  <td>{{ game.open }}</td>
                  <td>{{ game.close }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>
